---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import { generateURL } from "../../utils";
import {createExcerpt} from "../../utils/excerp";

const posts = (await getCollection("blog", post => !post.data.hide)).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<Layout>
  <div class="blog-posts">
    {
      posts.map(post => {
        const excerpt = createExcerpt(post.body ?? '', post.data);
        return (<article class="postSummary">
          <aside>
            <span>
              <FormattedDate date={post.data.pubDate}/>
            </span>
          </aside>
          <h2 class="postSummary__title">
            {post.data.title}
          </h2>
          <p class="postSummary__excerpt">{excerpt} <a
              href={generateURL(`/blog/${post.id}/`)}
              transition:name={`post-title-${post.id}`}
          >
            Lire la suite
          </a></p>

        </article>)
      })
    }
  </div>
</Layout>
