---
import Layout from "../../layouts/Layout.astro";
import type { GetStaticPaths } from "astro";
import { type CollectionEntry, getCollection } from "astro:content";
import {
  getPostsByTag,
  getUniqueTags,
  encodeTag,
  decodeTag,
} from "../../utils";
import IconLink from "../../components/IconLink.astro";
import Article from "../../components/Article.astro";

export const getStaticPaths = (async () => {
  const posts = await getCollection("blog", post => !post.data.hide);
  const tags = getUniqueTags(posts);
  return tags.map(tag => {
    const postsByTag = getPostsByTag(posts, tag);
    return {
      params: { tag: encodeTag(tag) },
      props: { tag, posts: postsByTag },
    };
  });
}) satisfies GetStaticPaths;

type Props = {
  tag: string;
  posts: CollectionEntry<"blog">[];
};

const { tag, posts } = Astro.props;
---

<Layout>
  <span class="back-link">
    <IconLink name="Back" label="Back" extra="Retour" back />
  </span>
  <h1>
    Tags: <span transition:name={`tag-${tag}`}>#{decodeTag(tag)}</span>
  </h1>
  <p>
    {posts.length} articles avec le tag {decodeTag(tag)}.
  </p>
  <ul class="blog-posts">
    {
      posts.map(post => {
        return (
            <Article
                post={post} />
        )
      })
    }
  </ul>
</Layout>

<style>
  h1 {
    margin: 0;
  }
  .back-link {
    display: inline-block;
    margin: 12px 0 8px -6px;
  }
</style>
